

body {
    background: url(imaganes/encantadora-variedad-postres-pasteles-impresionantes-tartas-pasteles-artisticamente-exhibidos-regalo.png);
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
}

/*DIV DE INICIAR SESION*/

.boxlogin {
    width: 300px;
    height: 300px;
    backdrop-filter: blur(10px);
    margin: auto;
    margin-top: 170px;
    border-radius: 20px;
    box-shadow: 0 0 10px 0 #2a2b2e;
}

#text1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-align: center;
    padding-top: 30px;
    font-size: 22px;


}

/*--------------------------*/

.boxusuario {
    width: 200px;
    height: 80px;
    background-color: none;
    margin-left: 30px;
}

#usuario {
    color: white;
    font-weight: bold;
    font-size: 16px;
}

#input1 {
    margin-top: 10px;
    padding: 5px 90px 5px 5px; 
    border: none;
    border-bottom: white 1px solid;
    background-color:transparent;
    color: white;
    outline: white;
    transition-property:border-bottom,border;
    transition-duration: 1s;
}

#input1::placeholder {
    color:white;
}

#input1:hover {
    border: none;
    background-color: transparent;
    border-bottom:#f50689 1px solid; 
    transition-property:border-bottom,border;
    transition-duration: 1s;
}
/*-----------------------*/

#input2 {
    margin-top: 10px;
    padding: 5px 90px 5px 5px; 
    border: none;
    border-bottom: white 1px solid;
    background-color:transparent;
    color: white;
    outline: white;
    transition-property:border-bottom,border;
    transition-duration: 1s;
}

#input2::placeholder {
    color:white;
}

#input2:hover {
    border: none;
    border-bottom:#f50689 1px solid; 
    transition-property:border-bottom,border;
    transition-duration: 1s;
}


/*-----------------------*/

#iniciarsesion {
    width: 100px;
    height: 28px ;
    margin-left:95px ;
    border: none;
    border-radius: 10px;
    color: white;
    background-color: #2a2b2e;
    font-weight: bold;
    box-shadow: 0 0 5px #2a2b2e;
    transition-property: background-color,color,width;
    transition-duration: 1s;
}

#iniciarsesion:hover {
    background-color: #f50689;
    color: #2a2b2e;
    width: 110px;
    transition-property: background-color,color,width;
    transition-duration: 1s;

}
